.loginContainerOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    width: 100vw;
    height: 100vh;
    width: fit-content;
    height: fit-content;
}

.loginContainerInner {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;

    width: 300px;
    height: fit-content;
    border-style: dotted;
    font-size: large;

}

.loginText {
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.loginButtonContainer {
    display: flex;
}

.loginButton {
    width: auto;
    justify-self: center;
    margin: auto;
}

.loginMessageText {
    text-align: center;
    color: red;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    justify-self: center;
    align-self: center;

    margin: auto;
    width: fit-content;
}

.logo {
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
    color: green;
    font-size: max(6px, 0.5vw);
    margin-bottom: 80px;
}