.pageSelectorContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    color: red;
    margin-top: 20px;
    width: 100%;
}

.pageSelectionElement {
    padding-left: min(1vw, 20px);
    padding-right: min(1vw, 20px);
}

.pageSelectorText {
    resize: none;
    border: none;
    outline: none;
    overflow: hidden;
    width: 20px;
}

.pageSelectorText::placeholder {
    color: red;
}

@keyframes blinkingBackground {
    50% {
        background-color: red;
    }
}

.pageSelectorText:invalid {
    animation: blinkingBackground 2s infinite
}