.mainColumn {
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    height: 100vh;
    width: min(800px, 100vw);
    max-width: 100%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    justify-self: center;
}

.headerGroup {
    display: flex;
    justify-content: space-between;
    justify-self: center;
}

.headerColumn {
    float: left;
    display: table;
    width: fit-content;
    padding: 5%;
    white-space: nowrap;
}

.headerColumnLeft {
    width: inherit;
}

.headerColumnRight {
    width: inherit;
}