.postCell {
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin: 20px;
    padding: 20px
}

.postCell:hover {
    border-style: dotted;
    border-color: green;
}

.postTitle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footerItem {
    display: flex;
    margin: auto;
    align-content: left;
    float: left;
    text-align: left;
    width: 100%;
}

.dateItem {
    text-align: left;
    width: 100%;
}

.idItem {
    justify-content: right;
}