body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0f0f;
  color: slategray;
}

textarea {
  background-color: #0f0f0f;
  resize: none;
  color: slategray;
}

input {
  background-color: #0f0f0f;
  resize: none;
  color: slategray;
}

:hover {
  border-color: green;
}

:focus {
  border-color: green;
}

.clickable {
  cursor: pointer;
  color: red;
  user-select: none;
}

@keyframes linkHoverAnimation {
  50% {
    color: green;
  }
}

.clickable:hover {
  cursor: "pointer";
  animation: linkHoverAnimation 2s infinite
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}